<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.qixqi.pan">
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 访问存储权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="cn.qixqi.pan.context.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="cn.qixqi.pan.LocationActivity"></activity>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3HIH4twmfUSIEX1xIwIbytEf3BWnDBIa" />

        <activity android:name="cn.qixqi.pan.FileUserShareActivity" />
        <activity android:name="cn.qixqi.pan.FileDownloadActivity" />

        <service
            android:name="cn.qixqi.pan.services.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="cn.qixqi.pan.FileUploadActivity" />
        <activity android:name="cn.qixqi.pan.login" />
        <activity android:name="cn.qixqi.pan.SessionActivity" />
        <activity android:name="cn.qixqi.pan.AddFriendActivity" />
        <activity android:name="cn.qixqi.pan.FriendMoreMessageActivity" />
        <activity android:name="cn.qixqi.pan.FriendHomeActivity" />
        <activity android:name="cn.qixqi.pan.FriendsActivity" />
        <activity android:name="cn.qixqi.pan.register" />
        <activity android:name="cn.qixqi.pan.MessageActivity" />
        <activity android:name="cn.qixqi.pan.TikTok" />
        <activity android:name="cn.qixqi.pan.FileActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cn.qixqi.pan.success" />
        <activity android:name="cn.qixqi.pan.Search" />
        <activity android:name="cn.qixqi.pan.MainActivity" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>
    </application>

</manifest>