<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="club.qixqi.uiqq">
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 访问存储权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".context.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LocationActivity"></activity>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3HIH4twmfUSIEX1xIwIbytEf3BWnDBIa" />

        <activity android:name=".FileUserShareActivity" />
        <activity android:name=".FileDownloadActivity" />

        <service
            android:name=".services.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".FileUploadActivity" />
        <activity android:name=".login" />
        <activity android:name=".SessionActivity" />
        <activity android:name=".AddFriendActivity" />
        <activity android:name=".FriendMoreMessageActivity" />
        <activity android:name=".FriendHomeActivity" />
        <activity android:name=".FriendsActivity" />
        <activity android:name=".register" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".TikTok" />
        <activity android:name=".FileActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".success" />
        <activity android:name=".Search" />
        <activity android:name=".MainActivity" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>
    </application>

</manifest>